<div class="container">
 <div class="row">
   <div class="col-md-3">
     <!-- ユーザー詳細 -->
<% if current_user.present? %>
  <%= render partial: 'books/user_info', locals: { user: current_user } %>
<% else %>
  <p>ユーザーが存在しません。</p>
<% end %>
     <!-- 投稿フォーム -->
<%= render partial: 'books/form', locals: { book: @book } %>
<div>
  <%= flash[:notice] %>
</div>
　</div>

<div class="col-md-8 offset-md-1">
<!-- ユーザー 一覧 -->
<h1>Users</h1>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to image_tag(user.get_profile_image(100, 100)), user_path(user.id) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user.id) %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
</div>