<div class="container">
 <div class="row">
   <div class="col-md-3">
     <!-- ユーザー詳細 -->
<%= render partial: 'books/user_info', locals: { user: @user } %>
     <!-- 投稿フォーム -->
<%= render partial: 'books/form', locals: { book: @book } %>
<div>
  <%= flash[:notice] %>
</div>

<% if flash.now[:error].present? %>
  <div>
    <% flash.now[:error].each do |error_message| %>
      <p><%= error_message %></p>
    <% end %>
  </div>
<% end %>
    </div>

<div class="col-md-8 offset-md-1">
<!-- 投稿詳細 -->
<h2>Book detail</h2>

<table>
  <tr>
    <td>
          <%= link_to image_tag(@post.user.get_profile_image(100, 100)), user_path(@post.user) %><br>
          <%= link_to @post.user.name, user_path(@post.user) %>
        </td>
    <td><%= @post.title %></td>
    <td><%= @post.body %></td>
    <td>
      <% if @post.user == current_user %>
        <%= link_to "Edit", edit_book_path(@post), method: :get, class: "btn btn-sm btn-success" %>
      <% end %>
    </td>
    <td>
      <% if @post.user == current_user %>
        <%= link_to "Destroy", @post, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-sm btn-danger" %>
      <% end %>
    </td>
  </tr>
</table>
</div>
</div>
</div>




